*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',Arial, sans-serif;
    box-sizing: border-box;
}

section img{
    height: 110px;
    width: 96px;
    border-radius: 10px;
    margin-right: 20px;
}

main{
    display: grid;
    grid-template-columns: 420px 320px;
    justify-content: center;    
}
section{
    display: grid;
    grid-template-rows: 35% 40%;
    background-color: #EEEEEE;
    border-radius: 10px;
    height: 380px;
    padding: 10px 20px;
}
.product1,
.product2{
    display: flex;
    flex-direction: row;    
}

.product-button{
    border-radius: 5px;
    border: 1px solid rgb(137, 137, 137);
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin-top: 25px;
}

span{
    color: #f2994a;
    font-size: 16px;
    font-weight: bolder;
}
.product-info p {
    font-size: 12px;
    color: #4E5150;
    margin: 5px 0;
}
.product-info h2 {
    font-size: 16px;
    color: #4E5150;
    margin: 5px 0;
}

.product-button p {
    line-height: 24px;
}
.product-button button {
    margin: 5px 0;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.product-button button i {
    font-size: 12px;
}
.total-price{
    margin-top: 40px;
}

.total {    
    border-top: 1px solid #BDBDBD;
    display: flex;
    position: relative;
    width: 90%;
    font-family: Mon, Arial, Helvetica, sans-serif;
}
.total p {
    display: block;
    width: 50%;
    margin-bottom: 8px;
    
}
.total p:nth-child(2) {
    text-align: right;
    margin-bottom: 8px;
}

header{
    font-weight: bold;
    text-align: center;
    margin: 16px 0 32px;
}

footer button{
    display: block;
    margin: 30px auto 0;    
    text-align: center;
    background-color: #f2994a;    
    height: 43px;
    width: 75px;
    border-radius: 10px;
    font-weight: 600;    
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
} 
form {    
    position: relative;
    width: 80%;
    display: block;
}
.reminder input{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 15px;    
}
.reminder label{
    display: inline-block;
    font-size: 12px;
}
form h1{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}
form select{
    width: 110px;    
    border-radius: 5px;    
    height: 32px;
    padding-left: 25px;
    border: 1px solid #828282;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;    
}
form label{
    font-size: 12px;
    color: #4f4f4f;
    margin: 8px auto;
}
form input{
    border-radius: 5px;
    width: 372px;
    height: 32px;
    padding-left: 35px;
    border: 1px solid #828282;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

form i{
    font-size: 16px;
    color: #828282;
    font-weight: 900;
    position: relative;
    font-size: 16px;
    top: -30px;   
    left:2%;   
}

.user1,
.user2{
    display: inline-block;
}
.user1{
    margin-right: 10px;    
}

#user-postal-code{
    width: 200px;
}
.user1 i,
.user2 i{
    position: relative;
    top: 56px;
    left:5px;
}
.user input{
    margin: 5px 0px;
}
.shipping h1{
    margin: 30px 0px 10px;    
}

@media screen and (max-width: 760px) {
    main, footer{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    form input{
        width: 300px;       
    }
    form i{
        position: relative;     
        top: 0px;   
        left: -295px;   
    }
    section{
        margin-left:-100px;
        margin-bottom: 30px;
    }